@import './scrollbar';

.v-col-xs-12 {
	@media (max-width: 600px) {
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
}

.d-xs-none {
	@media (max-width: 420px) {
		display: none !important;
	}
}

.v-list-item__prepend > .v-icon ~ .v-list-item__spacer {
	display: none;
}
