@use 'vuetify/styles';
@use './scrollbar';

@layer vuetify-core.reset {
	ul,
	ol,
	figure,
	details,
	summary {
		padding: 0;
		margin: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
}

@layer overrides {
	.d-xs-none {
		@media (max-width: 420px) {
			display: none;
		}
	}

	.v-list-item__prepend > .v-icon ~ .v-list-item__spacer {
		display: none;
	}
}
