@forward 'vuetify/settings' with (
	$color-pack: false,
	$utilities: (
		'align-content': false,
		'align-items': (
			responsive: false,
			unimportant: (
				align-items,
			),
		),
		'align-self': false,
		'border-bottom': false,
		'border-current': false,
		'border-end': false,
		'border-opacity': false,
		'border-start': false,
		'border-style': false,
		'border-top': false,
		'border': false,
		'bottom': false,
		'cursor': false,
		'display': false,
		'fill-height': false,
		'flex-direction': false,
		'flex-grow': false,
		'flex-shrink': false,
		'flex-wrap': false,
		'flex': false,
		'float:ltr': false,
		'float:rtl': false,
		'float': false,
		'font-italic': false,
		'font-weight': false,
		'gap-column': false,
		'gap-row': false,
		'gap': false,
		'height-screen': false,
		'height': false,
		'justify-content': (
			responsive: false,
			unimportant: (
				justify-content,
			),
		),
		'justify-items': false,
		'left': false,
		'margin-bottom': false,
		'margin-end': false,
		'margin-left': false,
		'margin-right': false,
		'margin-start': false,
		'margin-top': false,
		'margin-x': false,
		'margin-y': false,
		'margin': false,
		'negative-margin-bottom': false,
		'negative-margin-end': false,
		'negative-margin-left': false,
		'negative-margin-right': false,
		'negative-margin-start': false,
		'negative-margin-top': false,
		'negative-margin-x': false,
		'negative-margin-y': false,
		'negative-margin': false,
		'opacity': false,
		'order': (
			responsive: false,
			unimportant: (
				order,
			),
		),
		'overflow-wrap': false,
		'overflow-x': false,
		'overflow-y': false,
		'overflow': false,
		'padding-bottom': false,
		'padding-end': false,
		'padding-left': false,
		'padding-right': false,
		'padding-start': false,
		'padding-top': false,
		'padding-x': false,
		'padding-y': false,
		'padding': false,
		'position': false,
		'right': false,
		'rounded-bottom-end': false,
		'rounded-bottom-start': false,
		'rounded-bottom': false,
		'rounded-end': false,
		'rounded-start': false,
		'rounded-top-end': false,
		'rounded-top-start': false,
		'rounded-top': false,
		'rounded': false,
		'text-align': false,
		'text-decoration': false,
		'text-mono': false,
		'text-opacity': false,
		'text-overflow': false,
		'text-transform': false,
		'top': false,
		'typography': false,
		'white-space': false,
		'width': false,
	),

	// repeated in @/constants/breakpoints.ts
	$grid-breakpoints: (
			'xs': 0px,
			'sm': 600px,
			'md': 960px,
			'lg': 1280px,
			'xl': 1920px,
			'xxl': 2560px,
		),

	// Fonts
	$heading-font-family: var(--font-heading),
	$body-font-family: var(--font-body),
	// v-btn
	$button-text-transform: uppercase,

	// v-badge
	$badge-dot-border-radius: 50%,

	$alert-elevation: 0,
	$avatar-elevation: 0,
	$card-elevation: 0,
	$card-hover-elevation: 0,

	$switch-track-background: var(--v-track-bg, rgb(var(--v-theme-surface-variant)))
);
